$theme-colour: #FB9F9F;

table, th, td {
  border: 1px solid black;
}

body {

	background-color: $theme-colour;

	p {
		color: black;
		font-family: 'Courier New', monospace;
		font-size: 20px;

	}
}

h2 {
	color: navy;
	margin-top: 20px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}



h2:hover {
	color: cyan;
}

.a {
	color: green;
	font-size: 30px;
}

.b {
	@extend .a;
	font-style: italic;

}

#caption {
	font-style: italic;
}

h3 {
	font-size: 20px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

p::first-line {
  background-color: yellow;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: #efb18e;
  }
}
